{
  "parserOpts": { "strictMode": true },
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    ["@babel/plugin-transform-typescript"],
    ["@babel/plugin-transform-arrow-functions", { "spec": true }],
    ["@babel/plugin-proposal-optional-chaining"],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@loadable/babel-plugin"],
    ["@babel/plugin-syntax-typescript"],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
